$blue-color: #9cb0e7;
$green-color: #ade79c;
$red-color: #e79c9c;

* {
  box-sizing: border-box;
  margin: 0;
}

@mixin card {
  margin: 2rem;
  min-width: 15rem;
  width: 18rem;
  height: 22rem;
  border: 1px solid gray;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .30);
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.droppable {
  @include card
}

.draggable {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-transform: uppercase;
  display: grid;
  place-items: center;
}

.dragging {
  opacity: 50%;
}

.blue {
  background-color: $blue-color;
}

.green {
  background-color: $green-color;
}

.red {
  background-color: $red-color;
}
